* {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    margin: 0;
}
.editor .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 #000000CF;
    background-color: #FFFFFF;
    max-width: 100% !important;
}

.editor .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

.editor .ql-toolbar.ql-snow{
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #F3F3F3;
    box-shadow: 0 0 5px 0 #000000CF;
}
@page{
    margin: 1in;
}
@media print {
    body{
        background-color: none;
    }
    .editor .ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }
    .editor .ql-toolbar.ql-snow{
        display: none;
    }
}